{:event/type :os-stack-observe-cycle, :event/at "2026-09-05T00:41:04.545471Z", :gaps-open 6, :gaps-open-list [:wayland-protocol-corpus :unicode-normalization-and-shaping :linker-elf-surface :wifi-chipset-probe], :gaps-closed 2, :next-tranche {:gap :wayland-protocol-corpus, :action "generate wayland protocol corpus datoms (skill-os-spec-extract)", :priority 4}, :index-hits {:concept-lookup-hit? false, :repo-search-hit? false, :maturity-entities 0}}
{:event/type :os-stack-observe-cycle, :event/at "2026-09-05T00:41:04.830047Z", :gaps-open 6, :gaps-open-list [:wayland-protocol-corpus :unicode-normalization-and-shaping :linker-elf-surface :wifi-chipset-probe], :gaps-closed 2, :next-tranche {:gap :wayland-protocol-corpus, :action "generate wayland protocol corpus datoms (skill-os-spec-extract)", :priority 4}, :index-hits {:concept-lookup-hit? false, :repo-search-hit? false, :maturity-entities 0}}
